

<div class="container">
  <h2>Viking Robotics</h2>
  <!--<img src="assets/images/viking.png" alt="viking logo" />-->
  <p>We get together every wednesday at 11.30 am.
    One goal for the team is to travel to Duluth, USA in March 2018 and compete in FIRSTs Northern Lights Regional. See</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VREYn9Keg0I" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>
   <p>
    Students interested in programming and designing robots are welcome to join the team. Contact vikingrobotics.teknikum@gmail.com or teacher Johan Karlström, johkar001@utb.vaxjo.se
  </p>
</div>

